/* Responsive styles
================================================== */


@media (max-width: 1440px) {
	.middle {
		left: 37.5%;
	}
}


/* Large Devices, Wide Screens */
@media (max-width : 1366px) {
	.dropdown i{
		display: none;
	}
    .middle{
        left: 39%;
    }
    ul {
        padding-left: 0;
    }
}

@media (max-width: 1280) {
	.middle {
		left: 42%;
	}
}


/* Medium Devices, Desktops */
@media (max-width : 1024px) {
    .middle{
        left: 41%;
    }
}

/* Small Devices, Tablets */
@media (max-width: 991px) {
	/*title
	============================*/
	.sec-title {
	    width: 90%
	}
	.sec-title:after{
		left: 45%;
	}
	.sec-title:before{
		right: 45%;
	}
    .sub-title{
        width: 76%;
    }
	/*Slider
	===================*/
	#textslider {
	    height: 220px !important;
	}
	.middle{
		width: 50%;
		margin-left: -20px;
	}
	.middle  h2{
        line-height: 51px;
        font-size: 40px;
        LETTER-SPACING: normal;
	}
	.icon-box i.fa-magic,.icon-box i.fa-bullhorn,.icon-box i.fa-wordpress,.icon-box i.fa-android,.icon-box i.fa-camera,.icon-box i.fa-sliders {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	/*LOGO
	=========================*/
	.logo-inner {
	    width: 100%;
	}

	.logo-inner:after{
		left: 35%;
	}
	.logo-inner:before{
		right: 35%;
	}
	h3{
      width: 220px;
      font-size: 23px;
      text-align: center;
    }
	/*Countdown
	==========================*/
	.countdown_section {
		color: #fff;
		font-size: 16px;
		text-align: center;
		text-transform: capitalize;
		display:inline-block;
		padding:0px 25px;
		line-height: 16px;
		position: relative;
	}
	

}

/**/

@media (max-width: 980px) {
	.middle {
		left: 35%;
	}
}


/* Small Devices Potrait */
@media (max-width : 800px){
	/*Subtitle
    ===========================*/
    .sub-title{
        width: 100%;
    }

	.middle {
		left: 42%;
	}

    h3{
      width: 217px;
      font-size: 23px;
    }
}

@media (max-width: 768px) {
	.middle {
		left: 43%;
	}
}

@media (max-width: 360px) {
	.middle {
		left: 41%;
	}
}


/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 767px)  {
	

	/*title
	=============================*/
	.sec-title {
	    width: 90%;
        font-size: 30px;
	}
	.sec-title:after{
		left: 35%;
	}
	.sec-title:before{
		right: 35%;
	}
	.sec-sub-title {
        font-size: 15px;
    }
	/*Slider
	===================*/
    ul{
        padding-left: 0px;
    }
	#textslider {
	    height: 130px !important;
	}
	.middle{
		width: 71%;
        margin-left: -32px;
	}
	.middle  h2{
		line-height: 40px;
		font-size: 25px;
	}
    /*Element  about contaainer
    ===========================*/
    h3{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
	p{
        text-align: center;
    }
	/*LOGO
	=========================*/
    .logo-title {
        font-size: 42px;
    }
	.logo-inner {
	    width: 100%;
	}

	.logo-inner:after{
		left: 35%;
	}
	.logo-inner:before{
		right: 35%;
	}

	
	.heading-content li {
	    color: #FFF;
	    padding: 7px 0px;
	    font-size: 16px;
	}

	/*Countdown
	==========================*/
	.countdown_section {
		color: #fff;
		font-size: 16px;
		text-align: center;
		text-transform: capitalize;
		display:inline-block;
		padding:0px 32px;
		line-height: 16px;
		position: relative;
	}

	/*Button
	==================================*/
	.btn-container .btn-primary {
	    padding: 17px 15px;
    	font-size: 12px;
    	position: relative;
	}


	/*about
	===================================*/
	.singe-about{
		padding: 20px 40px;
	}
	

}
/*Custom, Mobile 320px*/
@media (max-width: 320px){
    .logo-title {
        font-size: 45px;
    }
    .sub-title {
        font-size: 16px;
    }   
}